@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
    .btn-primary {
        @apply px-4 py-2 bg-primary-500 text-white text-base font-medium rounded-lg shadow-sm hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-300 transition-colors duration-150;
    }
    
    .card {
        @apply bg-white dark:bg-darkcard rounded-xl shadow p-8 border border-primary-50 dark:border-darkbg transition-colors duration-200;
    }
    
    .input-field {
        @apply border border-primary-100 dark:border-darkbg rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary-200 focus:border-primary-300 bg-primary-50 dark:bg-darkbg placeholder-gray-400 dark:placeholder-darktext transition-colors duration-150;
    }
    
    .select-field {
        @apply border border-primary-100 dark:border-darkbg rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary-200 focus:border-primary-300 bg-primary-50 dark:bg-darkbg transition-colors duration-150;
    }
    
    .responsive-container {
        @apply w-full overflow-hidden rounded-lg;
    }
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body.dark {
    @apply bg-darkbg text-darktext transition-colors duration-200;
} 